{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["last 2 versions"]
            }
        }]
    ],
    "plugins": [
        ["babel-plugin-inferno", {"imports": true}]
    ]
}